/* Global Resets and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color Variables */
    --primary-color: #d7263d;
    --secondary-color: #f5f5f5;
    --accent-color: #ffffff;
    --shadow-color: #c4c4c4;
    --border-color: #8d99aeb0;
    --text-color: #333;
    --hover-background-color: #d7263e88;
    --hover-text-color: #ffffff;

    /* Font Variables */
    --font-family: Arial, sans-serif;
    --font-size-large: 36px;
    --font-size-medium: 24px;
    --font-size-small: 18px;

    /* Spacing Variables */
    --padding-small: 10px;
    --padding-medium: 20px;
    --padding-large: 50px;

    /* Shadow Variables */
    --box-shadow: -11px 11px 55px var(--shadow-color), 11px -11px 55px var(--accent-color);

    /* Border Variables */
    --border-radius-small: 10px;
    --border-radius-medium: 15px;
    --border-radius-large: 25px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}

/* Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-small) var(--padding-medium);
    background-color: var(--accent-color);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow);
    /* border: 1px solid var(--border-color); */
    margin: var(--padding-small); 
    position: -webkit-sticky; 
    position: sticky; 
    top: 5px; 
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    height: auto;
    margin-right: var(--padding-small);
    border-radius: 50%;
}

.logo h1 {
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: var(--accent-color);
    border-radius: var(--border-radius-medium);
    border: 1px solid #ccc;
    padding: var(--padding-small);
    width: 250px;
}

.nav-links li {
    margin: var(--padding-small) 0;
    text-align: center;
}

.nav-links li a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

.nav-links li a:hover {
    color: var(--primary-color);
}

.menu-icon {
    cursor: pointer;
    font-size: var(--font-size-medium);
}

.menu-icon .icon {
    font-size: 30px;
}

.active {
    display: flex;
    flex-direction: column;
}

.menu-open .icon {
    content: 'X';
    font-size: 30px;
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        border: none;
        padding: 0;
        width: auto;
    }

    .nav-links li {
        margin: 0 15px;
    }

    .menu-icon {
        display: none;
    }
}

@media (max-width: 767px) {
    .nav-links {
        width: 90%; 
        left: 50%; 
        transform: translateX(-50%); 
        right: auto;
    }
}

/* Hero Section Styles */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-large);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-medium);
    margin: var(--padding-medium);
    box-shadow: var(--box-shadow);
}

.hero-content {
    flex: 1;
    padding-right: var(--padding-medium);
}

.hero-content h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--padding-small);
    text-align: center;
}

.hero-content h2 span {
    color: var(--primary-color);
}

.hero-content p {
    font-size: var(--font-size-small);
    margin-top: var(--padding-small);
    text-align: center;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    width: 400px;
    object-fit: cover;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Hero Card Hover Effect */
.hero-image .container {
    position: relative;
    width: 250px;
    height: 350px;
    transition: transform 0.3s ease;
}
.background-card-1, .background-card-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.background-card-1 {
    background-color: #2b2d424f;
    transform: rotate(-10deg);
    z-index: 1;
}
.background-card-2 {
    transform: rotate(-20deg);
    background-color: #2b2d42;
    z-index: 0;
}
.foreground-card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transform: rotate(5deg);
    z-index: 2;
    transition: transform 0.3s ease;
}
.foreground-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container:hover {
    transform: scale(1.05);
}
.container:hover .background-card-1 {
    transform: rotate(-5deg);
}
.container:hover .background-card-2 {
    transform: rotate(-15deg);
}
.container:hover .foreground-card {
    transform: rotate(0deg);
}


@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        padding-right: 0;
    }

    .hero-image {
        width: 200px;
        height: 200px;
        margin-top: var(--padding-small);
    }
    .container {
        height:200px;
        margin-top: 30px;
    }
}

/* About Section Styles */
.about {
    margin: var(--padding-medium);
    padding: var(--padding-medium);
    /* background-color: var(--secondary-color); */
    border-radius: var(--border-radius-medium);
    display: flex;
    flex-direction: row;
    /* box-shadow: var(--box-shadow); */
}

.text-section {
    padding: var(--padding-large);
    flex: 1;
}

.text-section h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-large);
    font-weight: 700;
    margin: 0 0 var(--padding-small) 0;
}

.text-section h1::after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: var(--primary-color);
    display: block;
    margin: 10px auto;
}


.text-section p {
    font-size: var(--font-size-small);
    line-height: 1.6;
    margin: 0 0 var(--padding-small) 0;
}

.image-section {
    flex: 1;
    background: url('../images/vector.png') no-repeat center center;
    background-size: contain;
    border-radius: var(--border-radius-large);
    border-top-right-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .text-section {
        padding: var(--padding-medium);
    }

    .image-section {
        background-size: cover;
        height: 200px;
        border-radius: var(--border-radius-medium);
    }
}

/* Skills Section Styles */
.skills {
    margin: var(--padding-medium);
    padding: var(--padding-large);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow);
}

.skills h1 {
    text-align: center;
    font-size: var(--font-size-large);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: var(--padding-large);
}

.skills h1::after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: var(--primary-color);
    display: block;
    margin: 10px auto;
}


/* Skills Container */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--padding-medium);
}

.skill-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--accent-color);
    padding: var(--padding-small);
    border-radius: var(--border-radius-medium);
    width: 150px;
    height: 150px;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
    text-align: center;
}

.skill-card i {
    font-size: 50px;
    color: var(--primary-color);
    margin-bottom: var(--padding-small);
}

.skill-card:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
    }

    .skill-card {
        width: 100%;
    }
}

/* Portfolio Section Styles */
.portfolio {
    margin: var(--padding-medium);
    padding: var(--padding-large);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow);
}

.portfolio h1 {
    text-align: center;
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-bottom: var(--padding-medium);
}

.portfolio h1::after {
    content: "";
    width: 80px;
    height: 4px;
    background-color: var(--primary-color);
    display: block;
    margin: 10px auto;
}

.portfolio-grid {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-medium);
    justify-content: center;
}

.project-item {
    flex: 1 1 calc(33.333% - var(--padding-medium));
    box-sizing: border-box;
    background-color: var(--accent-color);
    border-radius: var(--border-radius-medium);
    /* overflow: hidden; */
    position: relative;
}

.project-info {
    padding: var(--padding-medium);
}

.project-info h2 {
    font-size: var(--font-size-medium);
    margin-bottom: var(--padding-small);
}

.project-info p {
    font-size: var(--font-size-small);
    line-height: 1.6;
}

/* Carousel Styles */
.carousel {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-small);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    flex-shrink: 0;
    transition: opacity 0.5s ease;
}

.carousel-control {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--accent-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    opacity: 0.5;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .project-item {
        flex: 1 1 calc(50% - var(--padding-medium));
    }
}

@media (max-width: 768px) {
    .portfolio{
        padding: var(--padding-small);
    }
    .project-item {
        flex: 1 1 100%;
    }
    
    .carousel-control {
        width: 24px;
        height: 24px;
    }
}


/* Tech Stack Styles */
.project-info ul.tech-stack {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
}

.project-info .tech-stack-item {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px 20px;
    border-radius: var(--border-radius-small);
    margin: 5px;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.project-info .tech-stack-item:hover {
    background-color: #3498db;
    color: #fff;
}

/* Contact Section Styles */
.contact {
    margin: var(--padding-medium);
    padding: var(--padding-medium);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow);
    text-align: center;
    position: relative;
    overflow: hidden;
}

.contact h1 {
    font-size: var(--font-size-large);
    margin-bottom: var(--padding-medium);
    color: var(--primary-color);
    position: relative;
    z-index: 1;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-item {
    margin: var(--padding-small);
    flex: 1 1 200px;
    position: relative;
    padding: var(--padding-small);
    border-radius: var(--border-radius-small);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.contact-item .icon {
    display: flex;
    justify-content: center;
    margin-bottom: var(--padding-small);
    font-size: 2rem;
    color: var(--primary-color);
}

.contact-item h2 {
    font-size: var(--font-size-medium);
    margin-bottom: var(--padding-small);
    color: var(--primary-color);
}

.contact-item p {
    font-size: var(--font-size-small);
}

.contact-item a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: var(--accent-color);
}

.social-links {
    display: flex;
    gap: var(--padding-small);
    justify-content: center;
    margin-top: var(--padding-small);
}

.social-links a {
    color: var(--primary-color);
    font-size: var(--font-size-small);
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--accent-color);
}

/* Decorative Elements */
.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
    clip-path: circle(150px at top right);
}

footer {
    text-align: center;
    padding: var(--padding-small);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-medium);
    margin-top: var(--padding-medium);
    box-shadow: var(--box-shadow);
}

footer p {
    margin: var(--padding-small) 0;
}
